---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

@mixin mediaQuery($point) {
  @if $point == phone-width {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $point == tablet-width {
    @media (max-width: 768px) {
      @content;
    }
  }
}
html {
  --primary-background-color: white;
  --primary-text-color: #222;
  --primary-highlight-color: #eeeeee;
  font-size: 100%;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.index-body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  transition: background 0.1s ease-in, color 0.1s ease-in;
  overflow: hidden;
  // font-size: 120%;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: 600;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-weight: 500;
  font-size: 32px;
  a {
    color: inherit;
  }
}

h2 {
  font-weight: 400;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: $blue;
  }
}

ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 600;
}

img {
  max-width: 100%;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

@keyframes type-name {
  0% {
    width: 0ch;
  }
  100% {
    width: 16ch;
  }
}

.mid-section-home {
  font-family: "Roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 950px;
  height: 100vh;
  margin: auto;
  font-size: 1.5rem;
  @include mediaQuery(phone-width) {
    font-size: 1 rem;
    span {
      display: none;
    }
  }
  h1 {
    font-size: 6rem;
    font-weight: 500;
    animation: type-name 2s steps(16);
    overflow: hidden;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
    border-right: 3px solid black;
    width: 16ch;

    @include mobile {
      font-size: 3rem;
    }
  }
}

#greet {
  font-size: 4rem;
  @include mobile {
    font-size: 2rem;
  }
}

.sub-heading {
  width: 100%;
  margin: 0 auto;
  display: flex;

  @include mediaQuery(phone-width) {
    width: 60%;
    min-width: 270px;
  }
}

.summary-about-me {
  width: 50%;
  text-align: right;
  padding-right: 30px;
  padding-left: 30px;
}

.navig-link {
  ul {
    padding-inline-start: 0;
  }
  li {
    display: block;
    text-align: left;
    a {
      text-decoration: none;
      color: var(--primary-text-color);
      &:hover {
        border-bottom: 2px solid var(--primary-text-color);
        color: var(--primary-text-color);
      }
    }
  }
  border-left: 2px solid var(--primary-text-color);
  width: 50%;
  padding-left: 30px;
  // .toNav {
  // }
  @include mediaQuery(phone-width) {
    li {
      display: block;
      margin-left: 10px;
    }
  }
}

.mid-section-cover {
  width: 60%;
  margin: 0 auto;
  margin-top: 50px;
  @include mediaQuery(tablet-width) {
    width: 70%;
  }
  @include mediaQuery(phone-width) {
    width: 95%;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--primary-text-color);
    h1 {
      // align-self: flex-start;
      font-size: 40px;
      flex-grow: 2;
      text-align: left;
      margin: 10px;
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 5;
      padding-inline-start: 0;
      li {
        padding: 0 20px;
        list-style-type: none;
        a {
          text-decoration: none;
          color: var(--primary-text-color);
          &:hover {
            border-bottom: 2px solid var(--primary-text-color);
            color: var(--primary-text-color);
          }
        }
        @include mediaQuery(phone-width) {
          text-align: center;
          padding: 0 10px;
        }
      }
    }
    @include mediaQuery(tablet-width) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      ul {
        justify-content: center;
      }
      h1 {
        text-align: center;
      }
    }
  }
  .sub-mid-section-cover {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    img {
      max-width: 100%;
    }
    a {
      color: var(--primary-text-color);
    }
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em 0.8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper {
  background: $theme-color;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
}

.sidebar-wrapper {
  background: $theme-color;
  position: absolute;
  right: 0;
  width: 280px;
  height: 100%;
  min-height: 800px;
  color: #fff;
  a {
    color: #fff;
  }
  .profile-container {
    padding: 30px;
    //background: darken($theme-color, 10%);
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
  }
  .name {
    font-size: 32px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .tagline {
    color: rgba(256, 256, 256, 0.6);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .profile {
    margin-bottom: 15px;
  }

  .avatar {
    //used for profile image
    max-width: 100px;
    margin-bottom: 15px;
    border: 0px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .contact-list {
    .fas,
    .fab {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle;
    }
    li {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .container-block {
    padding: 30px;
  }
  .container-block-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .degree {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
  }
  .education-container {
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .meta {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
      margin-top: 0;
    }
    .time {
      color: rgba(256, 256, 256, 0.6);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  .languages-container {
    .lang-desc {
      color: rgba(256, 256, 256, 0.6);
    }
  }
  .languages-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .interests-list {
    margin-bottom: 0;
    li {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.wrapper-footer {
  height: 30%;
  margin-top: 1px;
}

footer {
  padding: 50px 0 0;
  border-top: 1px solid $lightGray;
  height: 30%;
  text-align: center;
}

.footer-copyright {
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  background: $lightGray;
  padding: 5px;
  width: 50px;
  height: 20px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#tagline {
  font-family: "Roboto", sans-serif;
  font-size: 84px;
  word-spacing: 1px;
  line-height: 90px;
  text-transform: none;
  letter-spacing: -3px;
  color: #181818;
  text-align: center;
  margin: 0.8em 0 0;
}

#contactusicons {
  font-size: 80px;
  word-spacing: 1px;
  line-height: 95px;
  text-transform: none;
  letter-spacing: -1px;
  color: #181818;
  text-align: center;
  margin: 1em 0 1em 0;
  a {
    color: #42a8c0;
  }
}

#subtagline {
  margin-top: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-transform: none;
  text-align: center;
  letter-spacing: 0;
  line-height: 32px;
  color: #6b6b6b;
}

.postWrapper {
  margin: 40px; /* just for contrast */
  position: relative;
  border: 1px solid rgb(154, 163, 170);
  border-radius: 12px;
  padding: 20px;
}

.postWrapper .posttitle {
  position: absolute;
  top: -40px;
  background: #fff;
  padding: 0 10px;
}

.fa-1x {
  font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
  cursor: pointer;
}
.dark-blue-text {
  color: #0a38f5;
}
.dark-pink-text {
  color: #ac003a;
}
.dark-amber-text {
  color: #ff6f00;
}
.dark-teal-text {
  color: #004d40;
}

.footer-icon-color {
  color: #42a8c0;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
