<footer class="footer">

    <div class="container">

        <div class="col">
            <span class="fa-stack fa-xs">
                <a href="tel:+255754087896"><i class="fas fa-phone">+255(0)754087896</i></a>
            </span>
        </div>

        <div class="col">
            <span class="fa-stack fa-xs">
                <a href="mailto:sheghembekassim@gmail.com}"><i class="fas fa-envelope"></i></a>
            </span>
        </div>

        <div class="row">

            <div class="col">
                <span class="fa-stack fa-xs">
                    <a href="https://www.linkedin.com/in/sheghembekassim/"><i class="fab fa-linkedin-in fa-5x"></i></i></a>
                </span>
            </div>
            <div class="col">
                <span class="fa-stack fa-xs">
                    <a href="http://github.com/{{ footer-links.github }}"><i class="fab fa-github fa-5x"></i></a>
                </span>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">{{ site.data.data.footer }}</small>
        </div><!--//container-->
    </div>

</footer><!--//footer-->