<footer class="page-footer font-small darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12">
          <div class="mb-7 flex-center">
            <!--Linkedin -->
            <a href="https://www.linkedin.com/in/sheghembekassim/" aria-label="LinkedIn profile">
              <i class="fab fa-linkedin fa-lg white-text fa-5x footer-icon-color" aria-hidden="true"></i>
            </a>
            <!--Github-->
            <a href="http://github.com/{{ site.data.data.github-username }}" aria-label="GitHub profile">
              <i class="fab fa-github-square fa-lg white-text fa-5x footer-icon-color" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-5">© 2023 Copyright:
        <small class="copyright">{{ site.data.data.footer }}</small>
    </div>
    <!-- Copyright -->
  
  </footer>