<li class="nav-item">
  <a class="nav-link" href="{{ '/' | relative_url }}">
    Home
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ 'about/' | relative_url }}">
    About
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ 'projects/' | relative_url }}">
    Projects
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ 'cv/' | relative_url }}">
    CV
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ 'contacts/' | relative_url }}">
    Contacts
  </a>
</li>