<!-- Javascript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<!-- Theme toggle (loaded early to prevent flash) -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/theme-toggle.js"></script>
<!-- custom js -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>

<!-- Performance optimizations - DISABLED -->
<!-- <script type="text/javascript" src="{{site.baseurl}}/assets/js/performance-optimizer.js"></script> -->

<!-- Responsive images - DISABLED -->
<!-- <script type="text/javascript" src="{{site.baseurl}}/assets/js/responsive-images.js"></script> -->

<!-- Mobile touch enhancements -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/mobile-touch.js"></script>

<!-- Project filter script for projects page -->
{% if page.layout == 'projects' or page.url contains '/projects' %}
<script type="text/javascript" src="{{site.baseurl}}/assets/js/project-filter.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/project-timeline.js"></script>
{% endif %}

<!-- Contact page typing animation -->
{% if page.layout == 'contactus' %}
<script type="text/javascript" src="{{site.baseurl}}/assets/js/contact.js"></script>
{% endif %}

{% include analytics.html %}