---
layout: default
---


<article class="page">

  <div class="entry">
    <div class="wrapper">
      {% include sidebar.html %}
  
      <div class="main-wrapper">
          <div class="cv-download-bar">
            <a href="{{ '/assets/files/Kassim_Sheghembe_CV.pdf' | relative_url }}" class="btn-cv-download" download="Kassim_Sheghembe_CV.pdf">
              <i class="fas fa-download"></i> Download PDF
            </a>
          </div>

          {% include career-profile.html %}


          {% unless site.data.data.sidebar.education %} 
            {% include education.html %}
          {% endunless %}

          {% include experiences.html %}

          {% include projects.html %}

          {% include skills.html %}
      </div>
    </div>
  </div>
  
</article>
