---
title: Kassim Sheghembe
layout: home
---

<div class="mid-section-home">
  <div class="container">
    <div class="row justify-content-center">
      <p id="greet">HELLO, I AM </p>
    </div>
    <div class="row">
      <h1>
        {{ page.title }}
      </h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>{{ page.home_text }}</p>
      </div>
      <div class="col-md-6 navig-link">
        <nav class="navbar" role="navigation">
          <ul class="nav-menu"> {% include navigation.html %} </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>